html, body {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
.columns-2 {
    width: 100%;
    display: flex;

}

.left-column {
    width: 41%;
}

.right-column {
    width: 59%;
}
